.newLetterInput {
  width: 100%;
  border: none;
}

.new_letter-button {
  background-color: rgb(228, 207, 207);
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border: none;
}

/* :root {
  --shadow-color: -11px 9px 21px -7px rgba(105,97,97,0.88);
}
.subscribe {
  box-shadow: var(--shadow-color);
  box-shadow: 5px 4px 5px red;
} */
