/* 


.beautyPic {
    width: 100%;
}

.imagesFlex {
    display: flex;
}

.imagesFlex img {
    width: 100%;
    padding: 20px;
}

.imagesFlex button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

*/