.category {
  border: 1px solid #e1e1e1;
  padding: 15px;
  border-radius: 3px;
}

.category p {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 5px;
  line-height: 50px;
}

.img_in_card {
  width: 100%;
  object-fit: cover;
  height: 210px;
}

.imgWithBanner {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.imgWithBanner h3 {
  position: absolute;
  top: 15%;
  right: 0;
  padding: 15px;
  margin-right: 85px;
  background: rgba(15, 10, 10, 0.2);
}
