.category {
  border: 1px solid #e1e1e1;
  padding: 15px;
  border-radius: 3px;
}

.category p {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 5px;
  line-height: 50px;
}

.img_in_card {
  width: 100%;
  object-fit: cover;
  height: 210px;
}

.imgWithBanner {
  width: 100%;
}
